<div id="dragonStatsCard" class="card">
    <h3>Dragon Stats</h3>
    <div id="dragon-status">
        <p>Dragon Age: 3 years</p>
        <p>Dragon Strength: 150</p>
        <p>Last Interaction: April 19, 2024</p>
    </div>

    <script src="js/dragon.js">updateDragon();</script>
    <button class="button is-dark primary large" onclick="feedDragon()">Feed Dragon</button>
</div>