<div id="gardenStatsCard" class="card">
    <h3>Garden Stats</h3>
    <div id="garden-status">
        <p>Tree Type: Lava</p>
        <p>Fruit Count: 20</p>
        <p>Last Harvested: April 20, 2024</p>
    </div>
    <script src="js/garden.js">updateGarden()</script>
    <button class="button is-dark primary large" onclick="harvestFruit()">Harvest Fruit</button>
</div>