<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dracoria</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/darkMode.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <main>
            <%- body %>
        </main>
    </div>
    <%- include('partials/footer') %>
    <script src="/js/darkMode.js"></script>
</body>
</html>